/* .App {
  text-align: center;
} */

* {
  --bg-color: #fbd0b3;
  --main-font: "Libre Baskerville", serif;
  --nav-color: #ffe4d1;
  --light-accent-color: #fff4eb;
  --text-color: #763326;
}

body {
  font-family: var(--main-font);
  background-color: #fbd0b3;
  color: #763326;
}

header {
  background-color: #ffe4d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 10px;
  margin-left: 22px;
  padding: 10px;
  font-size: 50px;
}

header nav {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

#dropdownIcon img {
  max-height: 30px;
  filter: invert(26%) sepia(8%) saturate(5983%) hue-rotate(326deg)
    brightness(85%) contrast(90%);
}

.navBtn {
  background-color: var(--light-accent-color);
  padding: 10px 20px;
  border-radius: 30px;
}

.navBtn:hover {
  box-shadow: 3px 3px 8px var(--text-color);
}

header .navLink {
  margin: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: var(--text-color);
}

.userInfo {
  margin: 0 0 0 38px;
}

.userinfotext {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
}

.userinfotext:hover {
  font-size: 18px;
  color: var(--text-color);
}

.userInfoLI {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.userInfoLIitem {
  padding: 0 20px 10px 0;
}

#brandText {
  margin-bottom: 0;
  padding-bottom: 0;
}

#cartIcon {
  font-size: 25px;
}

#underNav {
  background-color: var(--light-accent-color);
  height: 15px;
}

#jumbotron img {
  max-height: 400px;
}

.pageTitle {
  margin: 10px;
  margin-left: 37px;
  padding: 10px;
  font-size: 30px;
}

#aboutContainer {
  display: flex;
  justify-content: space-evenly;
}

#aboutTextContainer {
  margin: 20px 45px;
}

#aboutTextContainer h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

#aboutTextContainer p {
  font-size: 20px;
}

#aboutTextLine {
  display: flex;
  align-items: center;
}

.aboutImg {
  max-height: 500px;
  margin-left: 40px;
}

.aboutIcon {
  font-size: 30px;
  padding: 10px;
}

#instaLink {
  text-decoration: none;
  color: var(--text-color);
}

.linkText {
  font-family: var(--main-font);
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
}

.linkText:hover {
  color: var(--text-color);
  text-decoration: none;
}

.card {
  width: 18rem;
  margin: 40px;
  border: 10px solid var(--light-accent-color);
  border-radius: 10px;
}

.card-body {
  background-color: var(--light-accent-color);
}

.productPage {
  display: flex;
  justify-content: center;
}

#productListContainer {
  width: 89%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productImg {
  max-height: 300px;
}

.detailContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 45px;
}

.detailImg {
  max-height: 500px;
}

.detailTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offcanvas {
  background-color: var(--nav-color);
}

.cartItem {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 18px;
}

.cartImg {
  max-width: 90px;
}

.cartIconTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.trashIcon {
  font-size: 25px;
}

/* .cart {
  position: fixed;
  top: 25;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: var(--light);
  overflow: auto;
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  z-index: 99;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: var(--tertiary);
  font-size: 60;
}

#closeBtn {
  font-size: 40;
}

.cart-closed {
  position: fixed;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 0.5rem 1rem 0;
} */
